---
import MainLayout from '../layouts/MainLayout.astro';
import LandingHero from '../components/LandingHero-1.astro';
import FeaturedGallery from '../components/FeaturedGallery.astro';
import FeaturedWorkScroll from '../components/FeaturedWorkScroll.astro';
---

<MainLayout>
	<section class="relative min-h-[40vh] items-center flex pt-8 pb-4 overflow-hidden">
		<LandingHero />
		<FeaturedWorkScroll />
	</section>

	<section class="featured-section py-8">
		<FeaturedGallery />
	</section>
</MainLayout>